body{
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: #D5E1EF;
    font-family: "Outfit", sans-serif;
}

main{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.qr-code-container{
    background-color: white;
    padding: 16px 16px 40px 16px;
    border-radius: 16px;
    width: 300px;
    text-align: center;
    box-shadow: 5px 5px 5px #888888;
}

.qr-code-image-container img{
    width: 100%;
    border-radius: 16px;
}

.qr-code-title h1{
    color: #1F314F;
    font-size: 24px;
    font-weight: 700;
}

.qr-code-description p{
    font-size: 15px;
    font-weight: 400;
    color: #68778D;
}

/* @media(min-width: 375px){
    .qr-code-container{
        width: 60%;
    }
}

@media(min-width: 768px){
    .qr-code-container{
        width: 60%;
    }
} */