:root {
    --slate-300-color: #D5E1EF;
    --slate-500-color: #68778D;
    --slate-900-color: #1F314F;
}

body {
    padding: 0;
    margin: 0;
    height: 100vh;
    background-color: var(--slate-300-color);
    font-family: "Outfit", sans-serif;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100% - 1rem);
}

.qr-code-container {
    background-color: white;
    padding: 1rem 1rem 2.5rem 1rem;
    border-radius: 16px;
    width: 19rem;
    text-align: center;
    box-shadow: 5px 5px 10px #888888;
}

.qr-code-image-container img {
    width: 100%;
    border-radius: 16px;
}

.qr-code-title h1 {
    color: var(--slate-900-color);
    font-size: 1.5rem;
    font-weight: 700;
}

.qr-code-description p {
    font-size: 1rem;
    font-weight: 400;
    color: var(--slate-500-color);
}